#  clase21-chart/templates/deployment.yaml
# ---
# Este manifiesto le dice a Kubernetes c贸mo desplegar y gestionar los pods de nuestra aplicaci贸n.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    {{- include "clase21-chart.helpers.labels" . | nindent 4 }}
spec:
  # Define el n煤mero de r茅plicas (pods) que queremos corriendo.
  replicas: 1
  selector:
    # El 'selector' ayuda al Deployment a encontrar qu茅 pods debe gestionar.
    # Coincide con las etiquetas definidas en la plantilla del pod.
    matchLabels:
      {{- include "clase21-chart.helpers.selectorLabels" . | nindent 6 }}
  template:
    # Esta es la plantilla para los pods que se crear谩n.
    metadata:
      labels:
        # Los pods se crean con estas etiquetas para que el selector los encuentre.
        {{- include "clase21-chart.helpers.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80 # Puerto que la aplicaci贸n escucha dentro del contenedor.
              protocol: TCP
          # --- Inicio de la L贸gica Condicional ---
          # La secci贸n 'volumeMounts' solo se incluir谩 en el YAML final
          # si 'configMap.enabled' es 'true' en el archivo 'values.yaml'.
          {{- if .Values.configMap.enabled }}
          volumeMounts:
            - name: config-volume # Debe coincidir con el nombre de un 'volume' definido abajo.
              # Monta el volumen en esta ruta dentro del contenedor,
              # sobreescribiendo el index.html por defecto de Nginx.
              mountPath: /usr/share/nginx/html
          {{- end }}
          # --- Fin de la L贸gica Condicional ---

      # --- Inicio de la L贸gica Condicional ---
      # La secci贸n 'volumes' tambi茅n se genera condicionalmente.
      {{- if .Values.configMap.enabled }}
      volumes:
        - name: config-volume # Define un volumen llamado 'config-volume'.
          configMap:
            # Especifica que el origen de este volumen es un ConfigMap.
            # El nombre del ConfigMap se genera din谩micamente.
            name: {{ .Chart.Name }}-configmap
      {{- end }}
      # --- Fin de la L贸gica Condicional ---